body{
    margin:0;
    padding:0;
    font-size: 100%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}


#wrapper{
    position: relative;
    width:100%;
    min-height: 50vw;
    overflow: hidden;
  }
  
  .layer{
    position: absolute;
    width:100vw;
    height: 100vw;
    overflow: hidden;
  }
  
  .layer .content-wrap{
    position: absolute;
    width:100vw;
    height: 100vw;
  }

  .layer .content-body{
    width:100%;
    position:absolute;
    top:5%;
    text-align: center;
    transform:translateY(-50%);
    color:#fff;
  }

  .layer img{
    position: absolute;
    width:20%;
    top: 23%;
    left: 50%;
    transform:translate(-50%, -50%);
  }

  .layer h1{
    font-size:2em;
  }

  .bottom{
    background:#222;
    z-index:1;
  }
  
  .bottom .content-body{
    top:40%
  }

  .bottom h1{
    color:#FDAB00;
  }

  .top{
    background:#eee;
    color:#222;
    z-index:2;
    height: 50vw;
  }
  
  .top .content-body{
    color:#222;
  }
 
  .handle{
    position: absolute;
    width: 100%;
    display: block;
    background-color: #FDAB00;
    height:5px;
    top:50%;
    left: 0;
    z-index:3;
  }

  .skewed .handle{
    top: 50%;
    transform:rotate(0deg) translateY(-50%);
    width: 200%;
    transform-origin:top;
}

.skewed .top{
    margin-top:-1000px;
    height: calc(50vw + 1000px);
}

.skewed .top .content-wrap{
    margin-top:1000px;
}

@media(max-width:768px){
    body{
      font-size:75%;
    }
  }